# clang-format 14.0.0
BasedOnStyle: Google
AccessModifierOffset: -2
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment
InsertBraces: true
